.socialLogin
    button.social-login--github.btn.btn-dark
        a(href=routes.github)
            span
                i.xi-github
                | 깃허브 계정
        
    button.social-login--kakao.btn.btn-warning
        a(href=routes.kakao)
            span
                i.xi-kakaotalk
                | 카카오 계정