doctype html
html
    head
        title #{siteName} | #{pageTitle} 
        <!--icon-->
        <script src="https://kit.fontawesome.com/dd9bafccd2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        style
            include ../style.css

    body
        main
            include ../partials/header
            main
                block content
            include ../partials/footer
