extends layouts/main
include mixins/cafeInfo
include mixins/cafeBlock

block content
    +cafeInfo({
        id : cafe.id,
        name : cafe.name,
        location : cafe.location,
        imageUrl : cafe.imageUrl, 
        
        parking : cafe.parking,
        smoking : cafe.smoking,
        terrace : cafe.terrace,
        restroom : cafe.restroom
    })