extends layouts/main
include mixins/cafeInfo
include mixins/cafeBlock
include mixins/reviewBlock

block content
    +cafeInfo({
        id : cafe.id,
        name : cafe.name,
        location : cafe.location,
        imageUrl : cafe.imageUrl, 
        
        menu : cafe.menu,
        amenities : cafe.amenities,
        reviews : cafe.reviews
    })  

    +reviewBlock({
        id : cafe.id,
        name : cafe.name,
        reviews : cafe.reviews
    })