extends layouts/main
include mixins/searchedBlock

block content
    .conditionalSearch
        form.conditionalSearch__conditions(action=routes.conditionalSearch, method="post")
            input(type="checkbox", name="smoking")
            label(for="smoking") 흡용실 &emsp;
            input(type="checkbox", name="parking")
            label(for="parking") 주차장 &emsp;
            input(type="checkbox", name="terrace")
            label(for="terrace") 테라스 &emsp;
            input(type="checkbox", name="restroom")
            label(for="restroom") 실내 화장실 &emsp;
            input(type="checkbox", name="plug")
            label(for="plug") 콘센트 &emsp;
            button.searchButton
                | 검색
            
        
        .conditionalSearch__cafeBlock
            if cafes!=null
                each item in cafes
                    +searchedBlock({
                        id : item.id,
                        name : item.name,
                        location : item.location,
                        imageUrl : item.imageUrl,
                        amenities : item.amenities,
                        menu : item.menu
                    })