extends layouts/main

block content
    form.conditions
        input(type="checkbox", name="smoking")
        label(for="smoking") 흡연실
        input(type="checkbox", name="outlet")
        label(for="smoking") 콘센트
        input(type="checkbox", name="parking")
        label(for="smoking") 주차장