extends layouts/main
include mixins/cafeBlock

block content

   
    .listAll.margin-top-3
        h1.btn.btn-dark ##{tag}
        br

        .card-columns
            each item in cafes
                +cafeBlock({
                    id : item.id,
                    name : item.name,
                    location : item.location,
                    imageUrl : item.imageUrl,
                    amenities : item.amenities,
                    menu : item.menu,
                    latlng : item.latlng,
                    branch : item.branch,
                    comments : item.comments,
                    tag : item.tag,
                    wholike : item.wholike
                })