extends layouts/main

block content
    .form-container
        form(action=routes.join, method="post")
            input(type="email", name="email", placeholder="Email", required=true)
            input(type="password", name="password", placeholder="password", required=true)
            input(type="password", name="password2", placeholder="Password 재입력", required=true)
            input(type="submit", value="submit")
    include partials/socialLogin