extends layouts/main

block content
    <p>
    table(align='center')
        tr
            td 아이디
            td
                input(type='id', name='id', placeholder='id', required='true')
        tr
            td  비밀번호
            td
                input(type='password', name='password', placeholder='Password', required='true')
    <p>
    center
        input(type='button', value='로그인', onclick='')
        input(type='button', value='비밀번호 찾기', onclick='')
    <p>

