extends layouts/main

block content
    .form-container
        form(action=routes.login, method="post")
            input(type="email", name="eamil", placeholder="E-mail", required=true)
            input(type="password", name="eamil", placeholder="Password", required=true)
            input(type="submit", value="Log In")
    include partials/socialLogin