* {
    text-decoration: none;
    color : black;
    list-style-type : none;
}

.header {
    padding-top : 1%;
    padding-left : 1%;
    border-bottom : 3px solid black;

    /*background: yellow;*/
}

.header__column{
    display : inline-block;

    /*background: yellowgreen;*/
}

a, form, li{
    display : inline-block;
    margin-left : 20px;
}

.footer {
    border-top : 3px solid black;
}

a:hover {
    background: #F5FFFA;
}

.conditionalSearch{
    padding-top: 1%;
}

.conditionalSearch__conditions{
    padding-bottom: 1%;
}

.cafeBlock{
    background: rgba(211, 211, 211, 0.562);
    display: inline-block;
    padding : 5%
}

.cafeBlock:hover{
    background: #F5FFFA;
}

.cafeBlock__thumbnail{
    width:350px;
    height:200px;
}

.cafeInfo{
    margin-top:10px;
    text-align: center;
}

.cafeInfo__menuItem{
    margin-right : 2%;
    margin-left : 2%;
    width: 10em;
}

.cafeInfo__menu{
    border: 2px solid black ;
    padding-bottom : 10px;
}

.cafeInfo__thumbnail{
    width:500px;
    height:350px;
    border:2px solid brown;
}


#map {
    height: 300px;
    width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}