.nav__forMobile{
    display : none;
}

.container__join, .container__login{
    padding-top:5%;
    padding-left:25%;
    padding-right:25%;
    text-decoration: none;
}

.col-3{
    max-width: 100% !important;
}

/* 홈화면 */
.col{
    max-width: 50%;
    position: static;
}

.home{
    margin-top: 2%;
    margin-left :10%;
    display: inline-block;
    /* float: inline-start; */
}

.home__hi{
    text-align: end;
    margin-left:10%;
    margin-top: 5%;
    /* float:left; */
}

.home__userInfo{
    /* float: right; */
    max-width: 720px;
    margin-top: 5%;
    /* margin-right: 10%; */
}

.form__join > input, button{
    display: block;
    margin : 10px;
    
}


.bd-example{
    min-width: 250px;
    max-width: 600px;
}

.d-block{
    max-height: 400px; 

}

.carousel-caption{
    text-shadow: 0 0 3px rgb(0, 0, 0);
}

.listAll{
    margin-left :10%;
}

.card{
    margin-right : 3%;
    margin-top : 3%;
}

 .header {
    margin-top : 1%;
    margin-left : 1%;
    margin-right : 1%;
    /* #ffd545 */
} 

.icon{
    margin-top : 2%;
    margin-bottom : 5%;
    color:rgba(94, 94, 94, 0.877);
    text-shadow: 0 0 1px rgb(49, 49, 49);

}

.header__mainLogo{
    color : rgb(56, 56, 56);
    text-shadow: 0 0 3px rgb(255, 255, 255);

}
.searchButton{
    margin-right : 5px;
}

.form-control > a{
    margin : 0px;
}

.footer {
    border-top : 3px solid black;
    padding-top: 1%;
    margin-top : 10%;
    margin-left : 1%;
    margin-right : 1%;
}

.card-columns{
    display : inline;
}

.conditionalSearch{
    padding-top: 1%;
}

.conditionalSearch__conditions{
    padding-bottom: 1%;
    margin-left : 1%;
}

.cafeBlock{
    background: rgba(211, 211, 211, 0.562);
    display: inline-block;
    padding : 5%
}

.cafeBlock:hover{
    background: #F5FFFA;
}

.cafeBlock__thumbnail{
    width:100%;
    height:50%;
}

.cafeInfo{
    margin-top:10px;
    text-align: center;
}

.cafeInfo__menuItem{
    margin-top: 2%;
    margin-right : 2%;
    margin-left : 2%;
    /* width: 10em; */
}

.cafeInfo__menu{
    border: 2px solid rgb(209, 129, 23) ;
    padding-bottom : 10px;
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDPvaC0bVfxjnahVeojfwHswGiV_8Jpu4ZfuHzm0AeuXbpsjCE&s'); */
    color: rgba(49, 49, 49, 0.815);
}

.menu__cat{
    padding-top: 2%;
    padding-left: 5%;
    margin-top: 2%;
    border-top: 1px solid #dee2e6!important;
    color: rgb(66, 65, 62);
}

.cafeInfo__thumbnail{
    width:500px;
    height:350px;
    border:2px solid gainsboro;
    margin-top : 2%;
    margin-bottom: 2%;
}
.__kakao{
    color: rgb(95, 49, 3);
}
.__github{
    color:white;
}
.join_container > button > span > i {
    color : black;
}

.__1,.__2,.__3,.__4{
    animation-duration: 2s;
}

@media screen and (max-width: 605px){
    .navbar > ul{
        display: none;
    }
    .nav__forMobile{
        display: inline-block;
    }
    .header__text{
        font-size: 80%;
    }
}


/* Google Map */
#map {
    /* display:none; */
    height: 190px;
    width: 50%;
}


/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.marginbottm-2{
    margin-bottom: 2%;
}
/* 리뷰 */
.cafe__comment-number{
    margin-top:2%;
}
.cafe__comment{
    margin: 0%;
    padding: 2%;
    padding-right:15%;
    background-color: #F7DC6F;

}

.cafe__comment-icons > i{
    margin-right : 1%;
    float:right;
}

.cafe__comments-list{
    padding-top:3%;
    margin-right:5%;
}

.cafe__createdAt{
    float:right;
    text-align: right;
    margin-right:10%;
}

.cafe__comment-set{
    margin-top: 5%;
    margin-right:10%;
}
