mixin cafeInfo(cafe = {})
    

    .container
        .cafeInfo
            img.cafeInfo__thumbnail(class="rounded" src=cafe.imageUrl)
            h1.cafeInfo__name=cafe.name
            p.cafeInfo__location=cafe.location
            
            h5.cafeInfo__option
                each item in cafe.amenities
                    i(class= item.icon) &nbsp; #{item.amen} &emsp;
        br

            


        
           
            
            