mixin map(cafe = {})
    #map.container
        script(type="text/javascript").
            const cafe = !{jsStringify(cafe)};
            var map;
            function initMap() {
                var current;
                navigator.geolocation.getCurrentPosition(function(pos) {
                    var latitude = pos.coords.latitude;
                    var longitude = pos.coords.longitude;
                    var latlng = {
                        lat : pos.coords.latitude, 
                        lng : pos.coords.longitude
                    }
                    current = latlng;
                });
                
                var myLatLng = {lat: cafe.latlng.lat, lng: cafe.latlng.lng};
                map = new google.maps.Map(document.getElementById('map'), {
                    center: myLatLng,
                    zoom: 15
                });
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'Hello World!'
                });

            }
 
        <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdwXoYejcsOpEoG7c5A_w5CkxV8ycclcI&libraries&callback=initMap"> </script>
        
