mixin menu(cafe = {})
    br
    .container
        h1.display-4 메뉴판
        div(class="cafeInfo__menu col-12 container" style="max-width: 1280px;")
            ul.list-unstyled
                each menu in cafe.menu
                    if menu.subcat.length != 0
                        p.lead #{menu.category}
                        li.list-item.col-3.border-top.py-2
                            each subcat in menu.subcat
                                p.cafeInfo__menuItem.h6=`${subcat.name} ${subcat.price}원`