mixin reviewBlock(cafe={})
    .reviewBlock
        h1=`리뷰`
        form.reviewBlock__textfield(action=routes.reviewAdd(cafe.id), method="post")
            textarea(id=`${cafe.id}`, name="reviewField")
            button.submitButton
                | 작성

        .contents
        each item in cafe.reviews
            p=item.content
    